  <div id="background-personal">

  <header>
    <div>
      <h1>Welcome</h1>
      <div>
        <h3>What's brewing in the community?</h3>
        <div class="per-Page-Stuff">
          <marquee behavior="" direction="">
             {{#each theUser.groupsJoined}}
      {{this.image}}
      {{this.name}}
    {{/each}}
    <div class="per-Page-Stuff">
      <p>Don't forget to check out the <b><a href="/groups">Cafe's</a></b> .</p>
    </div>
          </marquee>
        </div>
      </div>
    </div>
  </header>
<div class="profile">
<section>
    <a class="btn-stuff" href="/user/page/{{theUser._id}}/post"><button>Click Me</button></a>
  <aside class="profile-content">

    {{#each theUser.posts}}
      <img class="max-min" src="{{this.post}}" alt="">
    {{/each}}
      
  </aside>

  <aside class="user-section">
    
    <div>
      <img src="{{theUser.image}}" alt="You">
    </div>
    {{!-- <span class="edit-icon"><img src="/images/edit-pencil-icon(2).jpg.png" alt=""></span> --}}
    {{!-- {{#if theUser.profile}} --}}
      <img class="profile-pic" src="{{theUser.profile.pic}}" alt="">
      <br>
      <h1>Hello <a href="/user/page/{{theUser._id}}">{{theUser.username}}</a>!</h1>
      <p>Bio: {{theUser.profile.bio}}</p>
      <p>Favorite Saying: <i>{{theUser.profile.quote}}</i></p>
      <p>Favorite Spot: <b>{{theUser.profile.fav}}</b></p>
      <p>Preferred Cup of Joe: {{coffee.name}}</p>
      {{#if theUser.coffee._id}}
      <p>Description: {{coffee.description}}</p>
      <p>Place of Origin: {{coffee.origin}}</p>
      <p>Served: {{coffee.served}}</p>
      {{!-- {{/if}} --}}
    {{/if}}
  </aside>

</section>

</div>
  </div>