<div class="profile">
<section>
  <aside class="user-groups">
    <h3>Cafe's</h3>
    {{#each theUser.groupsJoined}}
      {{this.image}}
      {{this.name}}
    {{/each}}
    <div class="per-Page-Stuff">
      <p>Don't forget you can always join a new <b><a href="/groups">Cafe</a></b> anytime.</p>
    </div>
  </aside>
  <aside>
    <div>
      <h1>Welcome</h1>
      <div>
        <h3>What's brewing in the community?</h3>
        <div class="per-Page-Stuff">
          New Stuff Here.
        </div>
      </div>
    </div>
  </aside>
  <aside class="user-section">
    
    {{!-- <div>
      <img src="{{theUser.image}}" alt="You">
    </div> --}}
    {{!-- <span class="edit-icon"><img src="/images/edit-pencil-icon(2).jpg.png" alt=""></span> --}}
    {{#if theUser.profile}}
      <img class="profile-pic" src="{{theUser.profile.pic}}" alt="">
      <h1>Hello <a href="/user/profileInfo/{{theUser._id}}">{{theUser.username}}</a>!</h1>
      <p>Bio: {{theUser.profile.bio}}</p>
      <p>Favorite Saying: <i>{{theUser.profile.quote}}</i></p>
      <p>Favorite Spot: <b>{{theUser.profile.fav}}</b></p>
      <p>Preferred Cup of Joe: {{coffee.name}}</p>
    {{/if}}
  </aside>

</section>

</div>